/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

/* --------GENERAL ---------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* able to set the width value for every element
  on the page to include padding and border values, can avoid any complex
  precalculation  */
}

body {
  color: #2b2b2b;
  background-color: #F5F5F5;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 10px;
}

h1 {
  font-family: georgia;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
h2{
  font-size: 20px;
  font-weight: 700;
}
h3{
  font-size: 18px;
  font-weight: 700;
}

/* --------BUTTONS AND LINKS --------------------------------------- */

a {
  color: #191970;
}
a:hover, a:focus { /* a focus is used for when it's selected by keyboard */
text-decoration: none;
}
a:active{
  color: #2b2b2b;
}


button {
  border: none;
  font-family: inherit; /* button has a default font, need to specify
  what font you want to use/ inherited the body font */
  background-color: #191970;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px; /* rounds the square edges of the button */
  border-bottom: 2px solid rgba(0,0,0,0.3);
  /* the "a" in rgba is the transparency, 1 indicates complete opacity */
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}


.button {
  border: none;
  font-family: inherit; /* button has a default font, need to specify
  what font you want to use/ inherited the body font */
  background-color: #191970;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px; /* rounds the square edges of the button */
  border-bottom: 2px solid rgba(0,0,0,0.3);
  /* the "a" in rgba is the transparency, 1 indicates complete opacity */
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
button:hover,  button:focus,
.button:hover, .button:focus {
  /* lets the mouse appear as a pointed hand when hovering over the button */
  cursor: pointer;
  opacity: 0.8; /* reduces the opacity of the button to 80% */
}

/* -- LOGO, NAV & FOOTER ---------------------------------------- */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* making the page header a flexbox container */
  width: 100%; /* cover the full width of your page */
  padding: 20px; /* adding space inside the logo and nav elements */
  border-bottom: 1px solid lightgray;
}
.page-header__item { /* Logo and Navigation */
  /* giving the both child items similar base behavior) */
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px; /* giving the nav a base width of 200px but also the
  ability to shrink along the same ratio (not able to grow)*/
}
.page-header__item:last-child { /* Navigation */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; /* giving the last child item (nav) the ability to grow and
  take up the rest of the space when needed */
  text-align: right; /* moving the last child (nav) to right of page */
}

.navigation-list { /* targeting the ul tag (ul {}) */
  list-style-type: none; /* removing the bulletins in the ul list */
}
.navigation-list li { /* targeting the li in the ul list (nav li {}) */
  display: inline-block; /* moving the li links side by side (in a row) */
  margin-left: 15px; /* moving each li to the left in 15px to create
  space between them */
}
.navigation-list__item--active {
  text-decoration: none; /* the active link will not be underlined */
}

.page-footer {
  clear: both; /* created a div for footer so it can be moved down in it's own
  line (underneed profile portrait)*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* code to allow us to start using flexbox for the page
  footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* changes the elements to go from top to bottom,
  instead of side by side */
  text-align: center; /* moves the inline/inline block elements
  to the center of pg */
}

/* -- HOME PAGE ---------------------------------------- */

.profile {
  max-width: 700px; /* will keep the profile box from exceedng 700px */
  margin: 0 auto; /* will center the profile box */
  padding-top: 25px;
}
.profile h1 {
  text-align: left;
  margin-bottom: 0;
}
.profile h2 {
  margin-top: 0;
}
.profile__portrait {
  float: left; /* moved the image to float left near the text instead of on top */
  width: 250px; /* adjusted the size of the image */
  margin-right: 40px; /* created space between welcome text and img */
  border-radius: 50%; /* created a round image */
}

/* -- ABOUT PAGE -------------------------------------------- */

.about {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.about ul {
  list-style: none;
  padding: 0;
}
.about li {
  text-align: center;
}
.skills {
  margin: 0 auto;
  padding-bottom:20px;
  text-align: center;
}
.skills th {
  font-family: arial;
  font-weight: 700;
}

.berlin-illustration {
  padding:15px;
}
@-webkit-keyframes color-change {
  0% {
    fill: #EDC655;
  }
  50% {
    fill: #FCFFAD;
  }
  100% {
    fill: #f76414;
  }
}
@keyframes color-change {
  0% {
    fill: #EDC655;
  }
  50% {
    fill: #FCFFAD;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}
.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

/* -- WORK PAGE -------------------------------------------- */
.grid__item {
  display: inline-block;
  /* keeping the grid items within the page flow but can add weight, padding, etc*/
  width: 33%
}
@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr; /* creating 3 columns */
    grid-gap: 20px; /* space between the grid boxes set to 20px */
    margin: 0;
  }

  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
  }

  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

/* --- CONTACT PAGE ------------------------------------------------ */
.contact-page h1 {
  text-align: center;
}
.contact-page {
  width: 500px;
  margin: auto;
  display: block;
  /* border: 1px solid black; */
}
.contact-info {
  text-align: center;
  /* border: 1px solid black; */
}
.contact-page__form {
  text-align: center;
  padding-top: 10px;
  /* border: 1px solid black; */
}
.contact-form__item {
  text-align: center;
   /* border: 1px solid black; */
}

/* -- Responsive CSS Rules ------------------------------------- */
@media all and (max-width:750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child{
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  h1 {
    font-size: 22px;
  }
}
@media all and (min-width:500px) and (max-width:750px){
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 500px){
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
