/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

/* --------GENERAL ---------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* able to set the width value for every element
  on the page to include padding and border values, can avoid any complex
  precalculation  */
}

body {
  color: #2b2b2b;
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 10px;
}

main {
  background-color:#92b7bf;
  border: 1px solid gray;
  margin-top: 20px;
}

h1 {
  font-family: georgia;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

h2{
  font-size: 20px;
  font-weight: 700;
}
h3{
  font-size: 18px;
  font-weight: 700;
}

/* --------BUTTONS AND LINKS --------------------------------------- */

a {
  color: #191970;
}
a:hover, a:focus { /* a focus is used for when it's selected by keyboard */
text-decoration: none;
}
a:active{
  color: #2b2b2b;
}


button {
  border: none;
  font-family: inherit; /* button has a default font, need to specify
  what font you want to use/ inherited the body font */
  background-color: #191970;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px; /* rounds the square edges of the button */
  border-bottom: 2px solid rgba(0,0,0,0.3);
  /* the "a" in rgba is the transparency, 1 indicates complete opacity */
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}


.button {
  border: none;
  font-family: inherit; /* button has a default font, need to specify
  what font you want to use/ inherited the body font */
  background-color: #191970;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px; /* rounds the square edges of the button */
  border-bottom: 2px solid rgba(0,0,0,0.3);
  /* the "a" in rgba is the transparency, 1 indicates complete opacity */
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
button:hover,  button:focus,
.button:hover, .button:focus {
  /* lets the mouse appear as a pointed hand when hovering over the button */
  cursor: pointer;
  opacity: 0.8; /* reduces the opacity of the button to 80% */
}

/* -- LOGO, NAV & FOOTER ---------------------------------------- */

.page-header img {
  width:230px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* making the page header a flexbox container */
  width: 100%; /* cover the full width of your page */
  padding: 20px; /* adding space inside the logo and nav elements */
  border-bottom: 1px solid lightgray;
}
.page-header__item { /* Logo and Navigation */
  /* giving the both child items similar base behavior) */
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px; /* giving the nav a base width of 200px but also the
  ability to shrink along the same ratio (not able to grow)*/
}
.page-header__item:last-child { /* Navigation */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; /* giving the last child item (nav) the ability to grow and
  take up the rest of the space when needed */
  text-align: right; /* moving the last child (nav) to right of page */
}

.navigation-list { /* targeting the ul tag (ul {}) */
  list-style-type: none; /* removing the bulletins in the ul list */
}

.navigation-list li { /* targeting the li in the ul list (nav li {}) */
  display: inline-block; /* moving the li links side by side (in a row) */
  margin-left: 20px; /* moving each li to the left in 15px to create
  space between them */
}
.navigation-list li a {
  color: #000;
  font-weight: bolder;
  text-decoration: none;
}

.navigation-list li a:hover {
  color: #fff;
  background-color: black;
  font-size: 14px;
  padding: 3px;
  border-radius: 10px;
}
.navigation-list__item--active {
  text-decoration: underline;
}

.page-footer {
  clear: both; /* created a div for footer so it can be moved down in it's own
  line (underneed profile portrait)*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* code to allow us to start using flexbox for the page
  footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* changes the elements to go from top to bottom,
  instead of side by side */
  text-align: center; /* moves the inline/inline block elements
  to the center of pg */
}

.page-footer a {
  text-decoration: none;
}

/* -- HOME PAGE ---------------------------------------- */

.home-page  {
  height: 300px;
  border-radius: 50%;
}

.home-page-header img {
  width: 60%;
}

.home-page-header__item {
  text-align: center;
  margin-right: 20px;
}

.profile-container {
  margin-top: 0px;
}

.profile {
  max-width: 520px; /* will keep the profile box from exceedng 700px */
  margin: 0 auto; /* will center the profile box */
  padding-top: 20px;
  border-radius: 85%;
  /* background-color: darkgray; */
}
.profile h1 {
  text-align: left;
  margin-bottom: 0;
  font-size: 25px;
}
.profile h2 {
  margin-top: 0;
}
.profile__portrait {
  float: left; /* moved the image to float left near the text instead of on top */
  width: 340px; /* adjusted the size of the image */
  height: 320px;
  margin-right: 15px; /* created space between welcome text and img */
  border-radius: 50%; /* created a round image */
  box-shadow: black;
}

.button {
  background-color: #dce0e0;
  color: #000;
  margin-top: 0;
  width: 10%;
}
.icons h3 {
  margin: 12px 3px 0;
  padding-left: 10px;
}

.icons a {
  text-decoration: none;
}

/* -- ABOUT PAGE -------------------------------------------- */

.about-page {
  background-color: #fff;
  border: 0;
  max-width: 700px;
  margin: 30px auto;
  padding-bottom: 20px;
  text-align: center;
}
.about-page ul {
  list-style: none;
  padding: 0;
}
.about-page li {
  text-align: center;
}
.skills {
  margin: 0 auto;
  padding-bottom:20px;
  text-align: center;
}
.skills th {
  font-family: arial;
  font-weight: 700;
}



/* -- WORK PAGE -------------------------------------------- */

.work-page {
  background-color: #fff;
  border-radius: 50px;
  padding: 15px;
}

.work-title {
  font-size: 35px;
  font-weight: 300;
}

h1 {
  font-size: 20px;
}

.grid__item {
  display: inline-block;
  /* keeping the grid items within the page flow but can add weight, padding, etc*/
  width: 33%
}
@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr; /* creating 3 columns */
    grid-gap: 20px; /* space between the grid boxes set to 20px */
    margin: 0;
  }

  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
  }

  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

/* --- CONTACT PAGE ------------------------------------------------ */
.contact-page h1 {
  text-align: center;
  padding-top: 10px;
}

.contact-page {
  width: 60%;
  margin: 10px auto;
  /* display: block; */
  border-radius: 50%;
}

.contact-info {
  text-align: center;
  /* border: 1px solid black; */
}

label {
  font-size: 17px;
  font-weight: bolder;
}

/* -- Responsive CSS Rules ------------------------------------- */
@media all and (max-width:750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child{
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  h1 {
    font-size: 22px;
  }
}
@media all and (min-width:500px) and (max-width:750px){
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 500px){
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
